# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Environment Variables & Secrets
.env
.env.*
*.env

# Android Signing Keys & Machine Config
**/key.properties
*.keystore
*.jks
**/local.properties

# IntelliJ / VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/

# Release Artifacts
*.apk
*.aab
*.ipa
*.xcarchive

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Firebase Configs (Secrets)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
macos/Runner/GoogleService-Info.plist

# Firebase Admin SDK key (seed script)
**/serviceAccountKey.json

# Android Manifest
android/app/src/main/AndroidManifest.xml


